.payment-card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 5px;
    min-width: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom div {
        margin-bottom: 10px;
    }

    .footer-bottom p {
        text-align: center;
    }
}